---
layout: base.njk
title: NOT AUTHORIZED
permalink: /cats/
noindex: true
eleventyExcludeFromCollections: true
---
<main class="sealed-page">
  <div class="bg" aria-hidden="true"></div>
  <p>NOT AUTHORIZED.</p>
  <a href="{{ '/' | url }}">← log</a>
</main>
